astroid==1.4.5
cov-core==1.15.0
coverage==3.7.1
humanfriendly==1.29
lazy-object-proxy==1.2.2
logilab-common==1.2.0
mock==1.0.1
py==1.4.31
pylint==1.4.4
pytest==2.9.1
pytest-cov==1.8.1
pytest-django==2.8.0
pytest-random==0.2
pytz==2015.2
six==1.10.0
unittest-xml-reporting==1.11.0
wheel==0.26.0
wrapt==1.10.8
